# Virtual environment
venv/

# Private research files
Dataset/
Models/
Notebooks/

# Empty / local assets
assets/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
.env.*
.streamlit/secrets.toml

# Temporary files
temp.py

# OS files
.DS_Store
Thumbs.db

app_private.py